<div class="answer">
  <div class="answer__header">
    <span>
      <%= link_to answer.user.name, answer.user %> /
      <%= answer.created_at.strftime('%F %R') %>
    </span>
  </div>
  <div class="answer__content">
    <%= answer.content %>
  </div>
  <br>
</div>
