%li.list-group-item

  -# Best Answer Tag
  .tag.bg-warning
    %span Best Answer

  -# Answer Body
  %p.card-text.mb-0= answer.content

  -# Answer Footer
  %footer.text-muted
    %span
      = link_to answer.user.name, answer.user
      \/
      = "answerd #{answer.created_at.strftime('%F %R')}"
