<li class="list-group-item">
  <h4>
    <%= question.title %>
  </h4>
  <div class="text-muted">
    <span>
      0 answers
    </span>
    /
    <span>
      Posted <%= time_ago_in_words(question.created_at) %> ago.
    </span>
  </div>
</li>
