<div>
  <div class="question__header">
    <h2><%= question.title %></h2>
    <span><%= question.user.name %></span>
    /
    <span><%= question.created_at.strftime('%F %R') %></span>
  </div>
  <div class="question__content">
    <p><%= question.content %></p>
  </div>
</div>
