<div class="centering-div max-width-34">
  <h3><%= index_page_title params[:is_resolved] %></h3>
  <%= will_paginate %>
  <ul class="list-group">
    <%= render partial: "question_summary", collection: @questions, as: :question %>
  </ul>
  <%= will_paginate %>
</div>
