<div class="centering-div max-width-34">
  <h1><%= index_page_title %></h1>
  <ul class="list-group">
    <%= render partial: "question_summary", collection: @questions, as: :question %>
  </ul>
</div>
