<div class="questions-index-page">
  <h1 class="questions-index-page__title">Questions index</h1>
  <ul class="list-group questions-index-page__questions-list">
    <%= render @questions %>
  </ul>
</div>
