<% provide(:button_text, 'Edit') %>

<div class="centering-div max-width-24">
  <h1>Editing User</h1>
  <%= render 'form', user: @user %>
  <br>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
