<h1><%= @user.name %>'s My Page</h1>
<h1>posted questions</h1>
<ul class="list-group">
  <%= render partial: "questions/question_card", collection: @posted_questions, as: :question %>
</ul>

<h1>answered questions</h1>
<ul class="list-group">
  <%= render partial: "questions/question_card", collection: @answered_questions, as: :question %>
</ul>
