@import "bootstrap-sprockets";
@import "bootstrap";

.app-width {
  max-width: 960px;
}

.form {
  max-width: 480px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
