<nav class="navbar navbar-default">
  <div class="app-width container">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Home", root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign in", '#' %></li>
      <li><%= link_to "Sign up", new_user_path %></li>
    </ul>
  </div>
</nav>
